ion-content {
  --background: var(--ion-color-light);
}
ion-content {
  --padding-bottom: 60px; // Adjust as needed
}

ion-footer {
  background: var(--ion-color-light);
}

ion-toolbar {
  --background: var(--ion-color-light);
}

ion-button {
  --background: var(--ion-color-primary);
}

ion-datetime {
  --background: var(--ion-color-light);
}

// Remove any red underglow
::ng-deep .modal-wrapper {
  box-shadow: none !important;
  border: none !important;
}

ion-modal {
  --box-shadow: none !important;
}



form {
  padding-bottom: 60px; // Adjust as needed
}